<!-- dagr reports and queries -->
{% extends "dagr/base.html" %}

{% block content %}

  <div class="container">
    <div classs="row">
      <h3>Update Dagr</h3>
    </div>
  </div>

  <div class="container">
    <div class="row">
        {% if form %}
          <form action="{% url 'dagr:update_dagr' guid %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Update" class="btn btn-primary btn-lg"></p>
          </form>
          <a href="{% url 'dagr:delete_dagr' guid %}" class="btn btn-danger btn-lg" role="button">Delete</a>
        {% endif %}
    </div>
  </div>
{% endblock %}
