<!-- dagr reports and queries -->
{% extends "dagr/base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    {% if results %}

    <table class="table table-striped">
      <thead>
          <tr>
            <th>GUID</th>
            <th>Real Name</th>
            <th>Assigned Name</th>
            <th>Type</th>
            <th>Size</th>
            <th>Author</th>
            <th>Category</th>
            <th>Date Created</th>
            <th>Late Modified</th>
          </tr>
      </thead>
      {% for result in results %}
      <tbody>
        <tr>
            <td><a href={{ result.get_absolute_url }}>{{ result.Guid }}</a></td>
            <td>{{ result.RealName}}</td>
            <td>{{ result.AssignedName }}</td>
            <td>{{ result.Type }}</td>
            <td>{{ result.Size }}</td>
            <td>{{ result.Author }}</td>
            <td>{{ result.CategoryID }}</td>
            <td>{{ result.DateCreated }}</td>
            <td>{{ result.LastModified }}</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>

    {% endif %}
</div>
</div>
{% endblock %}
